<div class="container">
  <div class="row">

  <div class="col-md-8">
    <table class="table">
<tr class="info">
<th> Reference No</th>
<th>Title</th>
<th>Issuer </th>
<th>Issue Date</th>
<th>Sector</th>
<th>Closing date</th>
<th>Closing Time</th>
<th>Common Meeting</th>
<th>Meeting Date</th>
<th>Description</th>
</tr>
{{#tenders}}
<tr>
<td >{{ReferenceNo}}</td>
<td>{{title}}</td>
<td>{{issuer}}</td>
<td>{{issueDate}}</td>
<td>{{sector}}</td>
<td>{{closingDate}}</td>
<td>{{closingTime}}</td>
<td>{{commonMeeting}}</td>
<td>{{meetingDate}}</td>
<td>{{description}}</td>
  </tr>
{{/tenders}}
    </table>

  </div>
  
<div class="col-md-4">
<form class="" action="/tenders/add" method="POST">
<fieldset>

<!-- Form Name -->
<legend><strong>Add Tenders</strong></legend>
  
    <strong>Reference No:</strong><br>
<input id="Reference No" type="num" placeholder="Reference Number" name="ReferenceNo" required><br>
    <strong>Title:</strong><br>
        <input id="e.g. Renovating" type="textinput" placeholder="e.g. Renovating" name="title"  required><br>
            <strong>Tender Issuer:</strong><br>
          <input id="Issuer" type="textinput" placeholder="Issuer" name="issuer" required><br>
      <strong>Issue Date:</strong><br>
    <input id="DD/MM/YYYY" type="enum" placeholder="DD/MM/YYYY" name="issueDate" required><br>
  <strong>Sector:</strong><br>
<input id="Sector" type ="textinput" placeholder="Sector" name="sector" required><br>
  <strong>Closing date:</strong><br>
    <input id="DD/MM/YYYY" type="enum" placeholder="DD/MM/YYYY" name="closingDate" required><br>

        

      <strong>Closing Time:</strong><br>
        <input id="HH:MM" type="enum" placeholder="HH:MM" name="closingTime"  required><br>
        <strong>Common Meeting:</strong><br>
            <div class="input-group bootstrap-timepicker">
              <input id="timepicker1" type="text" class="input-small">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>

            <br>
            <strong>Meeting Date:</strong><br>
          	<input id="DD/MM/YYYY" type="column" placeholder="DD/MM/YYYY" name="meetingDate" required>
            
            <br>
          <strong>Description:</strong><br>
         <textarea id="Description" placeholder="Description" type="textinput" class="col-md-6" name="description" required></textarea><br><br>
        <br>
    <button type="submit" class="btn btn-success">Submit</button>
  <button type="back" class="btn btn-warning">Back</button>
<button type="cancel" class="btn btn-danger">Cancel</button>

    </form>
     <script type="text/javascript">
            $('#timepicker1').timepicker();
        </script>
    </div>

